---
http_interactions:
- request:
    method: get
    uri: http://avoindata.prh.fi/bis/v1/2501710-8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Http.status:
      - '200'
    body:
      encoding: UTF-8
      string: '{"type":"fi.prh.opendata.bis","version":"1","totalResults":-1,"resultsFrom":0,"previousResultsUri":null,"nextResultsUri":null,"exceptionNoticeUri":null,"results":[]}'
  recorded_at: Sat, 10 Dec 2016 22:30:00 GMT
recorded_with: VCR 3.0.3
